body {
    font-family: Arial, sans-serif;
    /* background-color: #f5f5f5; */
    background-color: lightgray;
    margin: 0;
}

header {
    background-color: white;
    display: flex;
}

.header-img {
    margin: 0;
}

div.links {
    display: flex;
    height: 32px;
}

div > a {
    display: block;
    width: 60px;
    line-height: 32px;
    text-align: center;
    text-decoration-line: none;
    color: black;
}

div > a:hover {
    background-color: gainsboro;
}

main.field {
    background-color: white;
    width: 90%;
    margin: 32px auto;

}

main.todos {
    width: 320px;
    margin: 32px auto;
    padding-bottom: 24px;
}

h1 {
    /* 元パラーメータ
    font-size: 24px;
    text-align: center;
    margin: 0 0 16px; */
    width: 128px;
    font-size: 24px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    /* margin: 0 0 16px; */
}

input[type="text"] {
    width: 100%;
    padding: 4px;
    box-sizing: border-box;
    margin-top: 32px;
    margin-bottom: 16px;
}

input[type="text"].title {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: flex;
    flex-wrap: wrap;
    line-height: 24px;
    margin-bottom: 8px;
}

.done {
    text-decoration: line-through;
    color: #ccc;
}

label {
    display: flex;
    padding: 0;
    align-items: center;
}

input[type="checkbox"] {
    /* margin: 8px; */
    margin: 0;
    width: 0;
    opacity: 0;
}

.DummyInput {
    margin-right: 8px;
    width: 18px;
    height: 18px;
    border: solid 2px transparent;
    background: rgba(0, 0, 0, .15);
    border-radius: 50%;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

.DummyInput:hover {
    opacity: .5;
    cursor: pointer;
}

input[type="checkbox"]:checked + .DummyInput {
    background-color: white;
    border: solid red 1.5px;
}

input[type="checkbox"]:checked + .DummyInput::before {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: 2.5px;
    left: 2.5px;
    border-radius: 50%;
    background-color: orange;
    box-sizing: border-box;

}

.delete {
    background-image: url("../img/icons8-delete-16.png");
    height: 16px;
    width: 16px;
    margin-top: 4px;
    /* color: #ccc; */
    cursor: pointer;
    /* padding-left: 8px; */
    margin-left: 4px;
}

.delete-form {
    /* margin-left: auto; */
    padding-left: 8px;
}

.test div:hover {
    opacity: 0.5;
}

.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #0091EA;
    transition-property: transform;
    transition-duration: 1s;

}

.circle:hover {
    transform: translateX(100px);
}

.edit-button-img {
    background-image: url("../img/icons8-edit-16.png");
    height: 16px;
    width: 16px;
    margin-top: 4px;
    cursor: pointer;
}

.test {
    margin-left: auto;
    display: flex;
}

.editbtn {
    text-align: center;
}

.editbtn > button {
    /* background-color: #0D6EFD; */
    height: 32px;
    width: 60px;
}

.editbtn > button:first-of-type {
    margin-right: 10px;
    background-color: #0D6EFD;
    border: none;
    color: white;
    border-radius: 15%;
}

.editbtn > button:first-of-type:hover {
    cursor: pointer;
    background-color: #0A55C4;
    transition: 0.3s;
}

.editbtn > button:nth-of-type(2) {
    background-color: white;
    color: #6C757D;
    border: 1px solid #6C757D;
    border-radius: 15%;
}

.editbtn > button:nth-of-type(2):hover {
    cursor: pointer;
    background-color: #6C757D;
    color: white;
}

.spacer {
    width: 100%;
}

.editmenu {
    margin: 0 auto;
}